@import "tailwindcss";

@variant dark (.dark &);

body {
  background-color: rgb(248 250 252); /* slate-50 */
  transition: background-color 0.2s ease;
}

.dark body {
  background-color: rgb(17 24 39); /* gray-900 */
}
